@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fw-lite: 200;
  --fw-regular: 400;
  --fw-bold: 600;
  --fz: 0.93rem;
  --ff: 'Poppins', sans-serif;

  --clr-p-red: hsl(0, 78%, 62%);
  --clr-p-cyan: hsl(180, 62%, 55%);
  --clr-p-orange: hsl(34, 97%, 64%);
  --clr-p-blue: hsl(212, 86%, 64%);
  --clr-n-dark-blue: hsl(234, 12%, 34%);
  --clr-n-blue: hsl(229, 6%, 66%);
  --clr-gray: hsl(0, 0%, 98%);
}

body {
  font-size: var(--fz);
  font-weight: var(--fw-lite);
  font-family: var(--ff);
  background: var(--clr-gray);
}

header {
  padding: 2rem 1rem;
}

h1 {
  font-size: 2em;
}